@import url(https://fonts.googleapis.com/css?family=Lato)

body
	font-family: 'Lato', sans-serif
	font-size: 15px
	line-height: 1.5em

#container
	width: 70%
	margin 10px auto
	background: #fff
	overflow: auto
	
strong
	font-weight: bold
	
p, h1, h2, h3 
	margin: 10px 0
h1
	font-size: 39px
	font-weight: bold
	margin 20px 0 10px 0
	
h3
	font-size: 22px
	
h4
	font-size: 19px

.clearfix
	clear: both

body
	font-family: 'Lato', sans-serif
	font-size: 15px
	line-height: 1.5em

#container
	width: 70%
	margin: 10px auto
	background: #fff
	overflow: auto

p
	margin: 10px 0
	line-height: 1.5em

h1
	font-size: 39px
	font-weight: bold
	margin: 20px 0 10px 0
	line-height: 1.2em

h3
	font-size: 22px

h4
	font-size: 19px


.clearfix
	clear: both

.content-header
  border-bottom: #ddd solid 1px
  
.content-header, .content-footer
  margin-bottom: 20px
  padding-bottom: 10px

.content-footer
  border-top: #ddd solid 1px


header
  border-bottom: 4px solid #4ea0d8

#logo
  margin: auto
  display: block

#main-text
  text-align: center
  color: #333
  padding: 10px
  margin-bottom: 20px

#sub-1
  float: left
  width: 48%

#sub-2
  float: right
  width: 48%

.points
  li
    margin-bottom: 30px
  img
    float: left
    margin-right: 7px
  h4
    padding-top: 5px

#contact-form
  padding: 10px 15px 15px 15px
  border: 4px solid #4ea0d8
  border-radius: 10px
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  overflow: auto
  background: #f4f4f4
  div
    margin-bottom: 20px
  label
    display: inline-block
    width: 100px
    font-weight: bold
  input
    &[type='text'], &[type='email']
      border: #ccc 1px solid
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      height: 25px
      width: 65%
    &[type='submit']
      padding: 12px 17px
      color: #fff
      background: #fa6e3e
      border: 0
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      float: right
      display: block
      &:hover
        background: #d55427
        cursor: pointer
  .content-footer p
    font-style: italic
    text-align: center
    color: #666
    font-size: 80%

#testimonial
  margin: 40px 0
  font-style: italic
  color: #666
  img
    float: left
    margin-right: 20px

footer
  text-align: center
  border-top: #ccc solid 1px
  color: #aaa

@media (max-width: 960px)
  #container
    width: 80%
  h1
    font-size: 33px
  #sub-1, #sub-2
    float: none
    width: 100%
  .points
    li
      background: #eee
      padding: 8px
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 10px
    img
      margin-top: 7px
  #testimonial img
    float: none
    margin: auto
    display: block
    margin-bottom: 20px

@media (max-width: 568px)
  h1
    font-size: 22px